{% extends 'base.html' %}

{% block loggedIn %}
<li class="nav-item">
  <a class="nav-link" href="/logout">Logout</a>
</li>
{% endblock %}



{% block content %}

<br>
<br>

<div class="container">
  <div class="col-lg-5 shadow mx-auto">
    <div class="alert alert-success">
      <h2>New Todo</h2>
    </div>
    <div class="card-body">
      {% if msg %}
      <div class="alert alert-danger"  role="alert" >
          {{msg}}
      </div>
      {% endif %}
      <form action="{% url 'home' %}" method="POST">
          {% csrf_token %}
          
          {{ form.as_p }}
          <input type="submit" class="btn btn-primary" value="create">
      </form>
  </div>
  </div>
</div>

      
{% endblock %}


