{% extends 'base.html' %}

{% block content %}
<br>
<br>

<div class="container">
  <div class="col-lg-5 shadow mx-auto">
    <div class="alert alert-success">
      <h2>Create Account</h2>
    </div>
    <div class="card-body">
      {% if msg %}
      <div class="alert alert-danger"  role="alert" >
          {{msg}}
      </div>
      {% endif %}
      <form action="{% url 'register' %}" method="POST">
          {% csrf_token %}
          
          {{ forms.as_p }}
          <input type="submit" class="btn btn-primary" value="REGISTER">
      </form>
  </div>
  </div>
</div>

      
{% endblock %}
